body {
	text-align: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#pauta {
	background-image: url("img/partitura_pauta.png");
	background-repeat: repeat-x;
	height: 100px;
	background-position: center center;
	display: inline-block;
	white-space: nowrap;
}
img {
	display: inline-block;
	vertical-align: middle;
	position: relative;
}
img.clave {
	top: 18px;
}
img.figura {
	transform: scale(0.7);
	margin: -60px -8px -60px -8px;
	top: 16px;
}
img.figura[src^="img/partitura_figSb"] {
	margin-right: 40px;
	margin-left: 10px;
}
img.figura[src^="img/partitura_figM"] {
	margin-right: 10px;
	margin-left: 0px;
}
img.figura[src^="img/partitura_figSm"] {
	margin-right: 0px;
	margin-left: -5px;
}
img.barra {
	top: 16px;
	margin: 0px 1px;
}
div.andamento {
	height: 100px;
	width: 30px;
	text-align: center;
	display: inline-block;
	white-space: normal;
}
div.andamento img {
	margin: -65px -15px;
	top: 36px;
	transform: scale(0.7);
}
canvas.bpm {
	display: inline-block;
	width: 100px;
	height: 16px;
	vertical-align: text-bottom;
	border: 1px solid #AAA;
	text-align: left;
}